<div id="loginForm">
<h1>login</h1>
<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %><br />
  <%= f.label :login, "username" %><br />
  <%= f.text_field :login %><br />
  <br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
  <br />
  <br />
  <br />

  <%= f.submit "login" %>
    or <%= link_to "signup", signup_url %> 
<% end %>
</div>