<div id="footer">
	<div id="footerLinks">
		<%= link_to 'about', about_url %> 
		<%= link_to 'blog', 'http://www.levelous.posterous.com', :target => '_blank' %> 
		<%= mail_to 'levelous.com@gmail.com', 'contact' %> 
		<%= link_to 'twitter', 'http://www.twitter.com/levelous', :target => '_blank' %>
		<%= link_to 'facebook', 'http://www.facebook.com/levelous', :target => '_blank' %>
		<%= link_to 'terms', terms_url %> 
 		<%= link_to "© 2010 levelous", root_url %>
	</div> <!-- end footerLinks -->
</div> <!-- end footer -->